body {
    background: #352f5b;
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
    color: #fff;
  }
  
  .container {
    max-width: 100%;
    align-items: center;
  }
  
  input[type="text"],
  input[type="text"]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }
  
  .modal-content,
  .list-group li {
    background: #423a6f;
    color: #fff;
  }
  
  .delete {
    cursor: pointer;
  }
  
  .filtered {
    display: none !important;
  }
  
  .btn:hover {
    background: #423a6f;
    color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 13px 13px;
    transition: 0.8s;
  }
  .list-group {
    font-size: 18px;
  }
  
  /* .list-group li::before {
    content:"";
    width: 28px;
    height: 28px;
    background-image: url("images/uncheck2.png");
    background-size: cover;
    padding: 10px;
  } */
/* 
  .list-group li.checked .taskText{
    text-decoration: line-through;
  } */

  /* .list-group li.checked::before {
    background-image: url("images/checked2.png");
    background-size: cover;
  } */

  .col {
    margin: 20px;
  }


/* 
 chatbot
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #555;
  } 
  */
  
  .groups-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 70%;
    align-items: center;
    overflow: auto; /* Kích hoạt cuộn ngang */
    padding: 10px 0;
    white-space: nowrap;
}

  .scroll-content {
  height: 100%; /* Giả sử nội dung cao hơn container */
  padding: 10px;
}

.groups {
  display: flex;
  gap: 15px; /* Space between groups */
  min-width: max-content; /* Ensure it doesn't shrink */
  padding: 10px;
}


.group {
    min-width: 250px; /* Ensure each group has enough space */
    flex-shrink: 0; /* Prevent shrinking */
}

.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Đưa i ra góc phải */
  padding: 8px;
}